@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">

    <h1 class="display-4">Welcome to Zircon Hobbies</h1>
    <h4>Your one stop shop for all things models</h4>
    <h2 class="text-success"> @(ViewBag.CartMessage)</h2>
</div>
