@{
    ViewData["Title"] = "Home Page";
}

<style>

    .Orange-Border {
        border: 4px solid #E95420;
    }

    .carousel {
        aspect-ratio: 17 / 10.5;
        overflow: hidden;
        border: 4px solid #E95420; 
        border-radius: 12px; 
    }

    .carousel-item img {
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .carousel-caption{
        padding: 1rem;
        max-height: 100%;
    }

    .carousel-caption.background{
        background: rgba(0, 0, 0, 0.6);
    }

</style>

<div class="text-center">

    <h1 class="display-4">Welcome to Zircon Hobbies</h1>
    <h4>Your one stop shop for all things models</h4>
    <h2 class="text-success"> @(ViewBag.CartMessage)</h2>
</div>

<div id="carousel" class="carousel slide mt-5" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="/images/EVA01.jpg" class="d-block w-100" alt="Slide 1">
            <div class="carousel-caption d-none d-md-block background">
                <h5>EVA Unit-01</h5>
                <p>Shinjis EVA unit from Evangelion</p>
            </div>
		</div>
		<div class="carousel-item">
			<img src="/images/hggx-gquuuuuux-boxart.jpg" class="d-block w-100" alt="Slide 2">
            <div class="carousel-caption d-none d-md-block background">
                <h5>GQuuuuuuX</h5>
                <p>Machus gundam from Mobile Suit Gundam:GQuuuuuuX</p>
            </div>
		</div>
		<div class="carousel-item">
			<img src="/images/Astray - Flight unit.jpg" class="d-block w-100" alt="Slide 3">
            <div class="carousel-caption d-none d-md-block background">
                <h5>Astray Red Frame</h5>
                <p>Lowe Gueles Gundam from Mobile Suit Gundam: SEED Astray</p>
            </div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
	</button>
</div>

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-4">
            <img src="/images//Nu Gundam (Clear).jpg" class="img-fluid rounded shadow Orange-Border" alt="Gunpla Model 1">
            <h5 class="mt-2">RX-93 ν Gundam (Clear)</h5>
        </div>
        <div class="col-md-4">
            <img src="/images/Woundwort.jpg" class="img-fluid rounded shadow Orange-Border" alt="Gunpla Model 2">
            <h5 class="mt-2">RX-124 Gundam TR-6</h5>
        </div>
        <div class="col-md-4">
            <img src="/images/Barbatos.jpg" class="img-fluid rounded shadow Orange-Border" alt="Gunpla Model 3">
            <h5 class="mt-2">ASW-G-08 Gundam</h5>
        </div>
    </div>
</div>

